#include <windows.h>

IDD_LOGIN DIALOGEX 0, 0, 150, 60
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "P2P 远程"
FONT 9, "MS Shell Dlg"
BEGIN
    LTEXT           "输入目标 ID 或 IP:", IDC_STATIC, 7, 10, 80, 8
    EDITTEXT        101, 7, 22, 136, 12, ES_AUTOHSCROLL
    DEFPUSHBUTTON   "连接", IDOK, 40, 40, 35, 14
    PUSHBUTTON      "退出", IDCANCEL, 77, 40, 35, 14
END
